html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html,
body {
  width: 100%;
  height: 100%;
}
* {
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  font-family: 'Helvetica Neue';
}
@font-face {
  font-family: Helvetica Neue;
  src: url('fonts/HelveticaNeueCyr-Roman.otf');
}
@font-face {
  font-family: Helvetica Neue Medium;
  src: url('fonts/HelveticaNeueCyr-Medium.otf');
}
@font-face {
  font-family: Helvetica Neue Black;
  src: url('fonts/HelveticaNeueCyr-Black.otf');
}
@font-face {
  font-family: Helvetica Neue Bold;
  src: url('fonts/HelveticaNeueCyr-Bold.otf');
}
.helvetica {
  font-weight: 300;
  font-family: 'Helvetica Neue';
}
.helvetica_medium {
  font-weight: 300;
  font-family: 'Helvetica Neue Medium';
}
.helvetica_black {
  font-weight: 300;
  font-family: 'Helvetica Neue Black';
}
.helvetica_bold {
  font-weight: 300;
  font-family: "Helvetica Neue Bold";
}
.call-us {
  position: relative;
  background-color: #d63430;
  height: 60px;
}
@media screen and (min-width: 640px) {
  .call-us {
    height: 80px;
  }
}
.call-us__text {
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  font-family: 'Helvetica Neue Medium';
  font-size: 14px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .call-us__text {
    font-size: 20px;
    line-height: 80px;
  }
}
.call-us__icon {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 20px;
}
@media screen and (min-width: 640px) {
  .call-us__icon {
    right: 42px;
  }
}
@media screen and (min-width: 980px) {
  .call-us__icon {
    right: 51px;
  }
}
.call-us__icon img {
  height: 20px;
}
@media screen and (min-width: 640px) {
  .call-us__icon img {
    height: 25px;
  }
}
.header {
  background-image: url('../img/header_back.png');
  position: relative;
  padding: 0 10px;
  font-size: 0;
  line-height: 0;
  height: 55px;
}
@media screen and (min-width: 640px) {
  .header {
    height: 110px;
    padding: 0 20px;
  }
}
.header__logo-img {
  display: inline-block;
  vertical-align: middle;
  width: 71px;
  margin-right: 18px;
}
@media screen and (min-width: 640px) {
  .header__logo-img {
    width: 143px;
    margin-right: 33px;
  }
}
.header__logo-img img {
  width: 100%;
}
.header__logo-text {
  display: inline-block;
  vertical-align: middle;
  width: 165px;
}
@media screen and (min-width: 640px) {
  .header__logo-text {
    width: 337px;
    margin-top: -6px;
  }
}
.header__logo-text img {
  width: 100%;
}
.header__phones {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  right: 111px;
  color: #333333;
  font-size: 18px;
  line-height: 33px;
}
@media screen and (min-width: 980px) {
  .header__phones {
    display: block;
  }
}
.header__burger {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 17px;
}
@media screen and (min-width: 640px) {
  .header__burger {
    margin-top: -6px;
    right: 41px;
  }
}
@media screen and (min-width: 980px) {
  .header__burger {
    margin-top: -3px;
    right: 48px;
  }
}
@media screen and (min-width: 980px) {
  .header__burger img {
    height: 15px;
  }
}
.popup-menu {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 22px 10px;
}
.popup-menu__categories .categories__btn {
  text-align: center;
  padding-bottom: 22px;
  border-bottom: 1px solid #8c8c8c;
}
.popup-menu__categories .categories__btn a {
  text-decoration: none;
}
.popup-menu__categories .categories__btn a span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  font-family: "Helvetica Neue Bold";
  font-size: 18px;
  color: #fff;
  margin-right: 4px;
}
@media screen and (min-width: 640px) {
  .popup-menu__categories .categories__btn a {
    font-size: 24px;
  }
}
.popup-menu__categories .categories__btn a i {
  width: 10px;
  height: 7px;
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/arrow-down.png');
  background-repeat: no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  -webkit-transition: 0.2s -webkit-transform ease;
  transition: 0.2s -webkit-transform ease;
  -o-transition: 0.2s -o-transform ease;
  -moz-transition: 0.2s transform ease, 0.2s -moz-transform ease;
  transition: 0.2s transform ease;
  transition: 0.2s transform ease, 0.2s -webkit-transform ease, 0.2s -moz-transform ease, 0.2s -o-transform ease;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}
@media screen and (min-width: 640px) {
  .popup-menu__categories .categories__btn a i {
    width: 16px;
    height: 10px;
  }
}
.popup-menu__categories .categories__btn a i.rotated {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
